.rasa{
  :global(.row) {
    margin-bottom: 10px;
  }

  .panel {
    position:relative;
  }

  .radio {
    margin-right: 10px;
  }

  .radioText {
    vertical-align: middle;
    font-weight: 300;
    padding-left: 3px;
  }

  .settings {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  label {
    text-align: right;
    padding-top: 7px;
  }

  button {
    position: absolute;
    top: 7px;
    right: 10px;

    font-size: 14px;
    color: white;
    background-color: #58d1b0;
    opacity: 0.7;
    border: none;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

    transition: opacity .5s ease-in-out, background-color .15s ease-in-out;

    &:hover {
      background-color: #58d1b0;
      opacity: 1;
      color: white;
    }
  }

}